body {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  background-color: rgb(212, 214, 216);
  margin: 20px;
}

h1 {
  text-align: center;
  color: rgb(87, 116, 160);
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

h2 {
  text-align: left;
  color: rgb(87, 116, 160);
}

h3 {
  text-align: left;
  color: rgb(87, 116, 160);
}

h4 {
  text-align: center;
}

.centered-image {
  margin: auto;
  height: auto;
  width: 50%;
  display: block;
  border: solid 2px rgb(87, 116, 160);
}

.intro {
  text-align: center;
}

.column {
  width: 30%;
  float: left;
}

.sidebar {
  width: 30%;
  float: right;
  border-width: 2px;
  border: solid rgb(87, 116, 160);
  background-color: rgb(238, 239, 240);
  padding: 10px;
  margin-left: 50px;
  margin-bottom: 30px;
  box-sizing: border-box;
}

.emphasis {
  font-weight: bold;
}

/*@media screen and (max-width 300px) {
  .column {
    width: 300px;
    float: left;
    padding: 20px;
  }
}
I think I'll have to ask about media queries and responsive design. I wanted my columns at the bottom of the page to be displayed on top of each other as the screen became smaller, but that doens't seem to be working.*/