body {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  background-color: rgb(212, 214, 216);
}

h1 {
  text-align: center;
  color: rgb(87, 116, 160);
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

h2 {
  text-align: center;
  color: rgb(87, 116, 160);
}

h3 {
  text-align: center;
  color: rgb(87, 116, 160);
}

img {
  margin: 10px;
  height: auto;
  width: 50%;
  display: block;
}

.green {
  background-color: rgb(125, 245, 125);
}

.column {
  width: 20%;
  float: left;
}

.sidebar {
  width: 30%;
  float: left;
  border-width: 2px;
  border: solid black;
  padding: 10px;
  margin-right: 50px;
  box-sizing: border-box;
}