img {
  margin: 10px;
  height: auto;
  width: 50%;
  display: block;
}

.green {
  background-color: rgb(125, 245, 125);
}

.column {
  width: 20%;
  float: left;
}

.sidebar {
  width: 30%;
  float: left;
  border-width: 2px;
  border: solid black;
  padding: 10px;
  margin-right: 50px;
  box-sizing: border-box;
}